body{
    margin: 0;
    padding: 0;
    background-color: rgb(182, 115, 28);
}

/* HEADER START */
.header{
    
}
/* HEADER END */


/* FOOTER START */
.footer{
    background-color: aqua;
}

/* FOOTER END */


