body {
    margin: 0;
    padding: 0;
    background-color: #FBEAFF;
    font-size: 17px;
}

/* HEADER START */
.header {
    background-color: rgb(51, 25, 105);
}

.logo {
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: #634f7f;
    padding: 15px;
    display: inline-block;

}

.button:hover {
    background-color: #00C9A7;
}

.button_header {
    margin-right: 50px;
    float: right;
    margin-top: 50px;
}
/* HEADER END */


/* FOOTER START */
.footer {
    background-color: rgb(51, 25, 105);
    color: white;
    text-align: center;
    margin: auto 0;
    padding: 5px;
}

.mail_link {
    text-decoration: none;
    color: white;
}

.mail_link:hover {
    color: #00C9A7;
}

/* FOOTER END */


/* PRODUCTS START */
.product_wrapper{
    display: inline-block;
    padding: 1%;
}

.product{

}
/* PRODUCTS END */


/* UPLOAD START */
.upload_form{

}

.form{

}

.upload_button{

}

.upload_button:hover{
    
}
/* UPLOAD END */
